Libros/
ArchivosColo/

#ignorar algunos archivos de KiCAD
# Archivos temporales y de bloqueo
*.lck
fp-info-cache

# Backups
*-backups/
*.bak
*.kicad_pcb-bak
*.kicad_sch-bak

#archivos .history
.history/